<a href="https://colab.research.google.com/github/Aranagut/INFO5731/blob/main/INFO5731_lab_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
string = input("Enter a string: ")

print("Length of input string:", len(string)) # using len() fun to find length of the str

Enter a string: Tejaswini
Length of input string: 9

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
import collections

def char_count():
    x = input('Enter Desired String: ') # enter the desired string
    return collections.Counter(list(x))
print(char_count())

Enter Desired String: google.com
Counter({'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1})

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
#write your code here

list_value = [5, 10, 15, 20, 25]
sum = 0
for num in list_value:
 sum = sum + num

print("Sum of all the items in the given list is: {}".format(sum))

Sum of all the items in the given list is: 75

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
input_string = "restart"

print("".join((input_string[0], input_string[1:].replace(input_string[0], "$"))))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
S = 3.14 * (1 + (a/b)) ** 3
print("The value of S is: {}".format(S))

Enter the value of a: 4
Enter the value of b: 6
The value of S is: 14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict1={1:10, 2:20}; dict2={3:30, 4:40}; dict3={5:50,6:60}

result = {}
for d in [dict1, dict2, dict3]:
  result.update(d)

print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple = ("Tejaswini", "Data Science")

ele = input("Enter the element you want to search in the tuple: ")

if ele in tuple:
  print("Element is present in the given tuple")
else:
  print("Element is not present in the given tuple")

Enter the element you want to search in the tuple: Northtexas
Element is not present in the given tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
from typing import Set
set_value = {165, 736, 177, 438, 286}
print("Maximum value in set:" , max(set_value))
print("Minimum value in set:", min(set_value))

Maximum value in set: 736
Minimum value in set: 165

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313',
                'ak0934','vm0377','nm0618','sm1640',
                'sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def partition(student_list, n): 
    div = len(student_list) / float(n) 
    return [ student_list[int(round(div * x)): int(round(div * (x + 1)))] for x in range(n) ]

partition(student_list,7)

[['ja0964', 'sa1198', 'sb1357', 'vb0218'],
 ['sc1229', 'kg0569', 'kg0470', 'sg1297', 'bg0320'],
 ['fh0141', 'jl1252', 'sk1386', 'ak0956'],
 ['sk1390', 'sk1458', 'sk1313', 'ak0934'],
 ['vm0377', 'nm0618', 'sm1640', 'sm1907'],
 ['gn0108', 'pr0353', 'dr0609', 'ms1500', 'aos0040'],
 ['ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
def duplicates(array):
    given_arr = set()
    output = -1
    for r in range(len(array)):
        if array[r] in given_arr:
            return array[r]
        else:
            given_arr.add(array[r])
    return output
#array that has no duplicate values 
print(duplicates([5, 10, 15, 20, 25]))
#array that has duplicate values 
print(duplicates([5, 10, 15, 25, 30, 15]))

-1
15

(11) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
from datetime import date, timedelta
#here used import date and time functions
def sundays(year):
       date1 = date(year, 1, 1)
       date1 += timedelta(days = 6 - date1.weekday())  
       while date1.year == year:
          yield date1
          date1 += timedelta(days = 7)
          
for sun in sundays(2022):
   print(sun)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25